<div data-aml-init-handlers='[
    {
      "controller" : "extensions:LoadWindowController",
      "options" : {}  
    },    
    {
        "controller" : "extensions:BulkInterestGridConfigParser",
        "options" : 
        {
            "gridConfigsMap" : 
            {
                "step2Grid1Cols" : "ACE.Extensions.BulkInterestLoader.Step2Grid1Columns.GridCols",
                "step2Grid2Cols" : "ACE.Extensions.BulkInterestLoader.Step2Grid2Columns.GridCols",
                "step3GridCols" : "ACE.Extensions.BulkInterestLoader.Step3GridColumns.GridCols",
                "step4GridCols" : "ACE.Extensions.BulkInterestLoader.Step4GridColumns.GridCols",
                "step5Grid1Cols" : "ACE.Extensions.BulkInterestLoader.Step5Grid1Columns.GridCols",
                "step5Grid2Cols" : "ACE.Extensions.BulkInterestLoader.Step5Grid2Columns.GridCols",
                "step5Grid3Cols" : "ACE.Extensions.BulkInterestLoader.Step5Grid3Columns.GridCols"
            }
        }
    }
]'/>

<div data-aml-local-event-handlers='[
    {
        "events": [ "nextStep" ],
        "handlers": [
            {
                "controller": "extensions:FileUploadController",
                "options": {
                    "fileValidationEvent": "fileValidation",
                    "gridStep": 1
                },
                "executeIf": "ESCAPEQUOTES("{state.stepNumber}" == 1 && "{state.interestsFile.length}" == 1)"
            },
            {
                "controller": "extensions:ReviewMatchesController",
                "executeIf": "ESCAPEQUOTES("{state.stepNumber}" == 1 && "{state.interests.length}" >= 0)"
            },
            {
                "controller": "extensions:ReviewInterestsController",
                "options": {
                    "gridStep": 3
                },
                "executeIf": "ESCAPEQUOTES("{state.stepNumber}" == 2 && "{state.recommendedMatches.gridData.length}" >= 0 && "{state.latestChangesStep}" <= 2)"
            },
            {
                "controller": "extensions:ExpiredInterestsController",
                "executeIf": "ESCAPEQUOTES("{state.stepNumber}" == 3 && "{state.interests.length}" >= 0 && "{state.latestChangesStep}" <= 3)",
                "options" : 
                {
                    "property" : "expiringInterests",
                    "contIdField" : "T1C_Base__Contact__c",
                    "intSubIdField" : "T1C_Base__Interest_Subject__c",
                    "dataProviderProperty" : "foundRecords.gridData",
                    "gridStep": 4
                }
            },
            {
                "controller": "extensions:FormatReviewDataController",
                "executeIf": "ESCAPEQUOTES("{state.stepNumber}" == 4)",
                "options" : 
                {
                    "matchedRecordsData" : "foundRecords.gridData",
                    "expiredRecordsData" : "expiringInterests"
                }
            },
            {
                "controller": "extensions:StepsController",
                "options": {
                    "prevStepEvent": "prevStep",
                    "nextStepEvent": "nextStep"
                }
            }
        ]
    }
]'/>

<div data-aml-local-event-handlers='[
    {
        "events": [ "prevStep" ],
        "handlers": [
            {
                "controller": "extensions:StepsController",
                "options": {
                    "prevStepEvent": "prevStep",
                    "nextStepEvent": "nextStep"
                }
            }
        ]
    }
]'/>



<div data-aml-local-event-handlers='[
    {
        "events": [ "downloadExceptions" ],
        "handlers": [
            {
                "controller": "extensions:DownloadExceptionsController",
                "options": {
                    "dataSource" : "interests",
                    "notFoundRecordsData" : "filteredNotFoundRecords"
                }           
            }
        ]
    }
]'/>

<div data-aml-local-event-handlers='[
    {
        "events": [ "submit" ],
        "handlers": [
            {
                "controller": "extensions:MatchedInterestsSubmitController",
                "options": {}                
            },
            {
                "controller": "extensions:ExpiredInterestsSubmitController",
                "options": {}                
            }
        ]
    }
]'/>