<div class="bil-body-wrapper" style="display:none;"  data-aml-properties='{ 
    "controllers": [ 
    { 
        "controller":"core:domattributechanger", 
        "options": 
        { 
            "definitions": [
                { 
                    "name": "style", 
                    "valueMatch": "display:flex;", 
                    "valueNoMatch": "display:none;", 
                    "rules": "ESCAPEQUOTES("{state.windowIsReady}" == true)" 
                }
            ] 
        } 
    } 
]}'>
    <apex-import name="T1C_Base__ClientCenterControllerImportPage"/>
    <apex-import name="c__BulkInterestLoaderControllerPage"/>
    <link href="{Resource.T1C_Base__ALMAssets}/assets/css/common.css" rel="stylesheet" type="text/css">
    <link href="{Resource.T1C_Base__ALMAssets}/assets/css/main-light.css" rel="stylesheet" type="text/css">
    <script src="{Resource.T1C_Base__ALMLib}/src/ace-qai-core.js"/>
    <script src="{Resource.T1C_Base__ALMLib}/src/ace-qai.js"/>
    <script>
        (function($)
        {
            ACE.CustomEventDispatcher.on(ACE.Event.CHILD_APPLICATION_BRIDGE_LOADED, function()
            {
                return false;
            });
        })(jQuery);
    </script>

    <script src="{Resource.BulkInterestLoader}"/>
    <script src="{Resource.BulkInterestLoaderLocale}"/>

    <style>
        .bil-body-wrapper{
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .bil-main-content{
            padding: 16px;
            box-sizing: border-box;
            width: 100%;
            max-width: 1300px;
            margin-left: auto;
            margin-right: auto;
        }

        .bil-section-wrapper{
            overflow-y: auto;
        }

        .bil-section{
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        .bil-grid{
            min-height: 250px;
            margin-bottom: 8px;
        }

        .bil-grid .slick-group-leftpin{
            position: static!important; 
            left: 0!important;
            top: 0!important;
        }

        .bil-grid .deleteRowButton{
            width: 25px;
            background-size: 20px;
        }
        
        .bil-grid .quickAddButton{
            padding: 0px !important;
            width: 25px;
            margin: 0px;
        }
        
        #step4Grid .slick-cell, #step5Grid2 .slick-cell{
            color: #f24458;
        }

        #step4Grid .slick-group-title, #step5Grid2 .slick-group-title{
            color: #484848;
        }

        /** Collapsible Section **/
        
        .collapsible-section{
            margin-bottom: 8px;
        }

        .collapsible-section.is-expanded{
            flex-grow: 1;
        }

        .collapsible-section-label{
            display: flex;
            align-items: center;
            position: absolute;
            left: 24px;
            width: 100%;
            height: 100%;
            font-weight: bold;
        }

        .collapsible-section-button.toggle-control {
            height: 24px;
            min-height: 24px;
            max-height: 24px;
            font-size: 0!important;
        }

        .collapsible-section-body{
            display: flex;
            flex-direction: column;
            margin-left: 24px;
        }

        .is-expanded .collapsible-section-body{
            flex: 1;
            max-height: 400px;
            min-height: 200px;
            visibility: visible;
        }
        
        .is-collapsed .collapsible-section-body{
            visibility: hidden;
            max-height: 0;
        }
    </style>

    <div data-aml-init-state='[
        { 
            "name": "stepNumber", 
            "value": 1 
        },
        {
            "name": "latestChangesStep",
            "value": 0
        },
        { 
            "name": "interestsFile", 
            "value": [] 
        },
        {
            "name": "recommendedMatches",
            "value": {
                "gridData": [],
                "groupByField": "displayType"
            }
        },
        {
            "name": "contactsNotFound",
            "value": {
                "gridData": [],
                "groupByField": "displayType"
            }
        },
        {
            "name": "foundRecords",
            "value": {
                "gridData": [],
                "groupByField": "contactName"
            }
        },
        {
            "name": "errored",
            "value": false
        },
        {
            "name": "windowIsReady",
            "value": false
        }
    ]'></div>
    <header class="header fp-header">
        <div class="header-labelWrapper fp-header-title-wrapper">
            <h1 class="header-title fp-header-title">Interest Uploader</h1>   
        </div>
    </header>
    <div class="bil-main-content el-block flex-parent is-vertical el-min-h">
        <div class="bil-section-wrapper content-wrapper flex-parent is-card is-vertical el-min-h" style="overflow-y: auto;"data-aml-properties='{
            "controllers": [
            {
                "controller":"core:multiview"
            }
        ]}'>
            <section id="loadCSVSection" class="bil-section" data-aml-properties='{
                "visible" : true,
                "showEvent" : "startStep1"
            }'>
                <header class="tab-content-header el-section-header">
                    <div class="title-wrapper el-section-title-wrapper">
                        <h2 class="el-section-title">{@ACE.Extensions.BulkInterestLoader.Step1Label}</h2>
                    </div>
                </header>
                <p class="el-info-text">{@ACE.Extensions.BulkInterestLoader.Step1Desc}</p>
                <div data-aml-properties='{
                    "controllers": [ 
                    { 
                        "controller": "core:file-input", 
                        "options": 
                        { 
                            "allowMultiple": false,
                            "acceptableFileTypes": [".csv"],
                            "property": "interestsFile"               
                        } 
                    } 
                ]}' style="margin-bottom: 8px;"></div>
                <p class="el-warningMessage" data-aml-properties='{ 
                    "controllers": [ 
                    { 
                        "controller":"core:domattributechanger", 
                        "options": 
                        { 
                            "definitions": [ 
                                { 
                                    "name": "hidden", 
                                    "valueMatch": false, 
                                    "valueNoMatch": true, 
                                    "rules": "ESCAPEQUOTES("{state.errored}" == true)" 
                                } 
                            ] 
                        } 
                    } 
                ]}'>{@ACE.Extensions.BulkInterestLoader.Step1Error}</p>
            </section>
            <section id="matchesSection" class="bil-section" data-aml-properties='{
                "visible" : false,
                "showEvent" : "startStep2"
            }'>
                <header class="tab-content-header el-section-header">
                    <div class="title-wrapper el-section-title-wrapper">
                        <h2 class="el-section-title">{@ACE.Extensions.BulkInterestLoader.Step2Label}</h2>
                    </div>
                </header>                
                <p class="el-info-text">{@ACE.Extensions.BulkInterestLoader.Step2Desc}</p>
                <div class="collapsible-section el-block is-full flex-parent is-vertical toggle-group-parent" data-aml-properties='{
                    "controllers": [
                        {
                            "controller": "core:toggleable",
                            "options": {
                                "toggleHandle": ".toggle-control",
                                "states": [
                                    {
                                        "name": "notToggled",
                                        "cssClass": "is-expanded"
                                    },
                                    {
                                        "name": "toggled",
                                        "cssClass": "is-collapsed"
                                    }
                                ],
                                "defaultState" : "toggled"
                            }
                        }                  
                    ]
                }'>
                    <div class="toggle-btn-wrapper flex-parent is-full">
                        <div class="el-toggle-icon"/>
                        <p class="collapsible-section-label el-info-text">Recommended Matches</p>
                        <button class="collapsible-section-button toggle-control"/>
                    </div>
                    <div class="collapsible-section-body">
                        <div id="recommendedMatchesFilter" class="el-item no-mar-btm" data-aml-properties='{
                            "controllers" : [
                            {
                                "controller" : "core:text-input",
                                "options" : 
                                {
                                    "maxChars"      : "255",
                                    "property"      : "recommendedMatchesFilterText",
                                    "placeholder"   : "{@ACE.Extensions.BulkInterestLoader.RecommendedMatchesGridFilter}"
                                }
                            }
                        ]}' style="margin-bottom: 8px;"/>               
                        <div class="bil-grid tab-panel-left-grid-section" data-aml-properties='{ 
                            "controllers": [
                                { 
                                    "controller": "extensions:BulkInterestsGridController", 
                                    "options": {
                                        "columns"       : "{state.step2Grid1Cols}",
                                        "dataProvider"  : "{state.recommendedMatches.gridData}",
                                        "enableGrouping": true,
                                        "groupByField"  : "error",
                                        "textFilter"    : "#recommendedMatchesFilter",
                                        "enableCheckBox": true,
                                        "relatedDataProvider": "contactsNotFound.gridData",
                                        "gridStep"      : 2,
                                        "stepNumber"    : "{state.stepNumber}"
                                    }
                                }
                            ]
                        }' style="margin-bottom: 8px;"/>
                    </div>
                </div>
                <div class="collapsible-section el-block is-full flex-parent is-vertical toggle-group-parent" data-aml-properties='{
                    "controllers": [
                        {
                            "controller": "core:toggleable",
                            "options": {
                                "toggleHandle": ".toggle-control",
                                "states": [
                                    {
                                        "name": "notToggled",
                                        "cssClass": "is-expanded"
                                    },
                                    {
                                        "name": "toggled",
                                        "cssClass": "is-collapsed"
                                    }
                                ],
                                "defaultState" : "toggled"
                            }
                        }                  
                    ]
                }'>
                    <div class="toggle-btn-wrapper flex-parent is-full">
                        <div class="el-toggle-icon"/>
                        <p class="collapsible-section-label el-info-text">Missing Contacts</p>
                        <button class="collapsible-section-button toggle-control"/>
                    </div>
                    <div class="collapsible-section-body">
                        <div id="contactsNotFoundFilter" class="el-item no-mar-btm" data-aml-properties='{
                            "controllers" : [
                            {
                                "controller" : "core:text-input",
                                "options" : 
                                {
                                    "maxChars"      : "255",
                                    "property"      : "contactsNotFoundFilterText",
                                    "placeholder"   : "{@ACE.Extensions.BulkInterestLoader.RecommendedMatchesGridFilter}"
                                }
                            }
                        ]}' style="margin-bottom: 8px;"/>           
                        <div id="contactsNotFoundGrid" class="bil-grid tab-panel-left-grid-section" data-aml-properties='{ 
                    "controllers": [ 
                        { 
                            "controller": "extensions:BulkInterestsGridController", 
                            "options": {
                                "columns"       : "{state.step2Grid2Cols}",
                                "dataProvider"  : "{state.contactsNotFound.gridData}",
                                "enableGrouping": true,
                                "groupByField"  : "error",
                                "textFilter"    : "#contactsNotFoundFilter",
                                "enableCheckBox": false,
                                "gridStep"      : 2,
                                "stepNumber"    : "{state.stepNumber}",
                                "relatedDataProvider": "recommendedMatches.gridData",
                                "enableQuickAdd": true
                            }
                        }
                    ]
                        }'/>
                    </div>
                </div>
            </section>        
            <section id="interestsSection" class="bil-section" data-aml-properties='{
                "visible" : false,
                "showEvent" : "startStep3"
            }'>     
                <header class="tab-content-header el-section-header">
                    <div class="title-wrapper el-section-title-wrapper">
                        <h2 class="el-section-title">{@ACE.Extensions.BulkInterestLoader.Step3Label}</h2>
                    </div>
                </header>                
                <p class="el-info-text">{@ACE.Extensions.BulkInterestLoader.Step3Desc}</p>
                <div id="foundRecordsFilter" class="el-item no-mar-btm" data-aml-properties='{
                    "controllers" : [
                    {
                        "controller" : "core:text-input",
                        "options" : 
                        {
                            "maxChars"      : "255",
                            "property"      : "foundRecordsFilterText",
                            "placeholder"   : "{@ACE.Extensions.BulkInterestLoader.RecommendedMatchesGridFilter}"
                        }
                    }
                ]}' style="margin-bottom: 8px;"/> 
                <div class="bil-grid tab-panel-left-grid-section" data-aml-properties='{ 
                    "controllers": [ 
                        { 
                            "controller": "extensions:BulkInterestsGridController", 
                            "options": {
                                "columns"       : "{state.step3GridCols}",
                                "dataProvider"  : "{state.foundRecords.gridData}",
                                "enableGrouping": true,
                                "groupByField"  : "{state.foundRecords.groupByField}",
                                "textFilter"    : "#foundRecordsFilter",
                                "enableCheckBox": true,
                                "gridStep"      : 3
                            }
                        }
                    ]
                }' style="margin-bottom: 8px;"/>
            </section>
            <section id="expiredSection" class="bil-section" data-aml-properties='{
                "visible" : false,
                "showEvent" : "startStep4"
            }'>
                <header class="tab-content-header el-section-header">
                    <div class="title-wrapper el-section-title-wrapper">
                        <h2 class="el-section-title">{@ACE.Extensions.BulkInterestLoader.Step4Label}</h2>
                    </div>
                </header>                
                <p class="el-info-text">{@ACE.Extensions.BulkInterestLoader.Step4Desc}</p>
                <div id="expiredInterestsFilter" class="el-item no-mar-btm" data-aml-properties='{
                        "controllers" : [
                        {
                            "controller" : "core:text-input",
                            "options" : 
                            {
                                "maxChars"      : "255",
                                "property"      : "expiredInterestsFilterText",
                                "placeholder"   : "{@ACE.Extensions.BulkInterestLoader.RecommendedMatchesGridFilter}"
                            }
                        }
                    ]}' style="margin-bottom: 8px;"></div> 
                <div id="step4Grid" class="bil-grid tab-panel-left-grid-section" data-aml-properties='{ 
                    "controllers": [ 
                        { 
                            "controller": "extensions:BulkInterestsGridController", 
                            "options": {
                                "columns"       : "{state.step4GridCols}",
                                "dataProvider"  : "{state.expiringInterests}",
                                "enableGrouping": true,
                                "groupByField"  : "data.T1C_Base__Contact__r.Name",
                                "textFilter"    : "#expiredInterestsFilter",
                                "enableCheckBox": true,
                                "gridStep"      : 4
                            }
                        }
                    ]
                }' style="margin-bottom: 8px;"></div>
            </section>          
            <section id="finalizeSection" class="bil-section" data-aml-properties='{
                "visible" : false,
                "showEvent" : "startStep5"
            }'>
                <header class="tab-content-header el-section-header">
                    <div class="title-wrapper el-section-title-wrapper">
                        <h2 class="el-section-title">{@ACE.Extensions.BulkInterestLoader.Step5Label}</h2>
                    </div>
                </header>
                <div class="collapsible-section el-block is-full flex-parent is-vertical toggle-group-parent" data-aml-properties='{
                    "controllers": [
                        {
                            "controller": "core:toggleable",
                            "options": {
                                "toggleHandle": ".toggle-control",
                                "states": [
                                    {
                                        "name": "notToggled",
                                        "cssClass": "is-expanded"
                                    },
                                    {
                                        "name": "toggled",
                                        "cssClass": "is-collapsed"
                                    }
                                ],
                                "defaultState" : "toggled"
                            }
                        }                  
                    ]
                }'>
                    <div class="toggle-btn-wrapper flex-parent is-full">
                        <div class="el-toggle-icon"/>
                        <p class="collapsible-section-label el-info-text">{@ACE.Extensions.BulkInterestLoader.Step5LabelMatched} ({state.filteredMatchedRecords.length})</p>
                        <button class="collapsible-section-button toggle-control"/>
                    </div>
                    <div class="collapsible-section-body">
                        <p class="el-info-text">{@ACE.Extensions.BulkInterestLoader.Step5DescMatched}</p>
                        <div id="reviewMatchedGridFilter" class="el-item no-mar-btm" data-aml-properties='{
                            "controllers" : [
                            {
                                "controller" : "core:text-input",
                                "options" : 
                                {
                                    "maxChars"      : "255",
                                    "property"      : "reviewMatchedGridFilterText",
                                    "placeholder"   : "{@ACE.Extensions.BulkInterestLoader.RecommendedMatchesGridFilter}"
                                }
                            }
                        ]}' style="margin-bottom: 8px;"/> 
                        <div class="bil-grid tab-panel-left-grid-section" data-aml-properties='{ 
                            "controllers": [ 
                                { 
                                    "controller": "extensions:BulkInterestsGridController", 
                                    "options": {
                                        "columns"       : "{state.step5Grid1Cols}",
                                        "dataProvider"  : "{state.filteredMatchedRecords}",
                                        "enableGrouping": true,
                                        "groupByField"  : "contactName",
                                        "textFilter"    : "#reviewMatchedGridFilter",
                                        "gridStep"      : 5
                                    }
                                }
                            ]
                        }'/>
                    </div>
                </div>
                <div class="collapsible-section el-block is-full flex-parent is-vertical toggle-group-parent" data-aml-properties='{
                    "controllers": [
                        {
                            "controller": "core:toggleable",
                            "options": {
                                "toggleHandle": ".toggle-control",
                                "states": [
                                    {
                                        "name": "notToggled",
                                        "cssClass": "is-expanded"
                                    },
                                    {
                                        "name": "toggled",
                                        "cssClass": "is-collapsed"
                                    }
                                ],
                                "defaultState" : "toggled"
                            }
                        }                  
                    ]
                }'>
                    <div class="toggle-btn-wrapper flex-parent is-full">
                        <div class="el-toggle-icon"/>
                        <p class="collapsible-section-label el-info-text">{@ACE.Extensions.BulkInterestLoader.Step5LabelExpired} ({state.filteredExpiredRecords.length})</p>
                        <button class="collapsible-section-button toggle-control"/>
                    </div>
                    <div class="collapsible-section-body">
                        <p class="el-info-text">{@ACE.Extensions.BulkInterestLoader.Step5DescExpired}</p>
                        <div id="reviewExpiredGridFilter" class="el-item no-mar-btm" data-aml-properties='{
                            "controllers" : [
                            {
                                "controller" : "core:text-input",
                                "options" : 
                                {
                                    "maxChars"      : "255",
                                    "property"      : "reviewExpiredGridFilterText",
                                    "placeholder"   : "{@ACE.Extensions.BulkInterestLoader.RecommendedMatchesGridFilter}"
                                }
                            }
                        ]}' style="margin-bottom: 8px;"/> 
                        <div id="step5Grid2" class="bil-grid tab-panel-left-grid-section" data-aml-properties='{ 
                            "controllers": [ 
                                { 
                                    "controller": "extensions:BulkInterestsGridController", 
                                    "options": {
                                        "columns"       : "{state.step5Grid2Cols}",
                                        "dataProvider"  : "{state.filteredExpiredRecords}",
                                        "enableGrouping": true,
                                        "groupByField"  : "data.T1C_Base__Contact__r.Name",
                                        "textFilter"    : "#reviewExpiredGridFilter",
                                        "gridStep"      : 5
                                    }
                                }
                            ]
                        }'/>
                    </div>
                </div>
                <div class="collapsible-section el-block is-full flex-parent is-vertical toggle-group-parent" data-aml-properties='{
                    "controllers": [
                        {
                            "controller": "core:toggleable",
                            "options": {
                                "toggleHandle": ".toggle-control",
                                "states": [
                                    {
                                        "name": "notToggled",
                                        "cssClass": "is-expanded"
                                    },
                                    {
                                        "name": "toggled",
                                        "cssClass": "is-collapsed"
                                    }
                                ],
                                "defaultState" : "toggled"
                            }
                        }                  
                    ]
                }'>
                    <div class="toggle-btn-wrapper flex-parent is-full">
                        <div class="el-toggle-icon"/>
                        <p class="collapsible-section-label el-info-text">{@ACE.Extensions.BulkInterestLoader.Step5LabelNotFound} (<span id="recordsNotFoundItemsCounter">{state.filteredNotFoundRecords.length}</span>)</p>
                        <button class="collapsible-section-button toggle-control"/>
                    </div>
                    <div class="collapsible-section-body">
                        <p class="el-info-text">{@ACE.Extensions.BulkInterestLoader.Step5DescNotFound}</p>
                        <div id="reviewNotFoundGridFilter" class="el-item no-mar-btm" data-aml-properties='{
                            "controllers" : [
                            {
                                "controller" : "core:text-input",
                                "options" : 
                                {
                                    "maxChars"      : "255",
                                    "property"      : "reviewNotFoundGridFilterText",
                                    "placeholder"   : "{@ACE.Extensions.BulkInterestLoader.RecommendedMatchesGridFilter}"
                                }
                            }
                        ]}' style="margin-bottom: 8px;"/> 
                        <div class="bil-grid tab-panel-left-grid-section" data-aml-properties='{ 
                            "controllers": [ 
                                { 
                                    "controller": "extensions:BulkInterestsGridController", 
                                    "options": {
                                        "columns"           : "{state.step5Grid3Cols}",
                                        "dataProvider"      : "{state.filteredNotFoundRecords}",
                                        "textFilter"        : "#reviewNotFoundGridFilter",
                                        "enableGrouping"    : true,
                                        "groupByField"      : "contactName",
                                        "enableDeleteRow"   : true,
                                        "itemsCounter"       : "recordsNotFoundItemsCounter",
                                        "gridStep"          : 5
                                    }
                                }
                            ]
                        }'/>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <footer class="fp-footer flex-parent ui-dialog-buttonpane ui-widget-content ui-helper-clearfix is-end">
        <button type="button" class="cancelButton ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
            data-aml-local-events='{
                "click": [
                    {
                        "name":"prevStep",
                        "allowBubbledEvents":true, 
                        "eventParams": {
                            "eventName": "prevStepEvent"
                        }
                    }
                ]
            }'>
            <span class="ui-button-text">{Locale.BACK}</span>
        </button>
        <button type="button" id="FooterSaveBtn" class="save-button confirmButton"
            data-aml-local-events='{
                "click": [
                    {
                        "name":"nextStep",
                        "allowBubbledEvents":true,
                        "eventParams": {
                            "eventName": "nextStepEvent"
                        }
                    }
                ]
            }'
            data-aml-properties='{ 
                "controllers": [ 
                { 
                    "controller":"core:domattributechanger", 
                    "options": 
                    { 
                        "definitions": [ 
                            { 
                                "name": "disabled", 
                                "valueMatch": false, 
                                "valueNoMatch": true, 
                                "rules": "ESCAPEQUOTES(("{state.stepNumber}" == 1 && "{state.interestsFile.length}" == 1) || "{state.stepNumber}" != 1)" 
                            } 
                        ] 
                    } 
                },
                { 
                    "controller":"core:domattributechanger", 
                    "options": 
                    { 
                        "definitions": [ 
                            { 
                                "name": "style", 
                                "valueMatch": "", 
                                "valueNoMatch": "display:none;", 
                                "rules": "ESCAPEQUOTES("{state.stepNumber}" != 5)" 
                            } 
                        ]
                    } 
                }  
            ]}'>
            <span class="ui-button-text">{Locale.NEXT}</span>
        </button>
        <button type="button" id="FooterDownloadExceptionsBtn" class="save-button confirmButton"
        data-aml-local-events='{
            "click": [
                {
                    "name":"downloadExceptions",
                    "allowBubbledEvents":true
                }
            ]
        }'
        data-aml-properties='{ 
            "controllers": [ 
            { 
                "controller":"core:domattributechanger", 
                "options": 
                { 
                    "definitions": [ 
                        { 
                            "name": "style", 
                            "valueMatch": "", 
                            "valueNoMatch": "display:none;", 
                            "rules": "ESCAPEQUOTES("{state.stepNumber}" == 5)" 
                        } 
                    ] 
                } 
            } 
        ]}'>
            <span class="ui-button-text">{@ACE.Extensions.BulkInterestLoader.DownloadExceptionsButton}</span>
        </button>
        <button type="button" id="FooterSubmitBtn" class="save-button confirmButton"
            data-aml-local-events='{
                "click": [
                    {
                        "name":"submit",
                        "allowBubbledEvents":true
                    }
                ]
            }'
            data-aml-properties='{ 
                "controllers": [ 
                { 
                    "controller":"core:domattributechanger", 
                    "options": 
                    { 
                        "definitions": [ 
                            { 
                                "name": "style", 
                                "valueMatch": "", 
                                "valueNoMatch": "display:none;", 
                                "rules": "ESCAPEQUOTES("{state.stepNumber}" == 5)" 
                            } 
                        ] 
                    } 
                } 
            ]}'>
            <span class="ui-button-text">{@ACE.Extensions.BulkInterestLoader.SubmitButton}</span>
        </button>
    </footer>
</div>

{@ACE.Extensions.BulkInterestLoader.EventHandlers}